ion-header {
    background-image: none;
    &::after {
        height: 0;
    }
}

ion-content {
    --background: #0277bd;
    --overflow: scroll;
    p {
        color: var(--ion-color-tertiary);
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0;
        display: block;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 5px;
    }
    span {
        color: var(--ion-color-light);
        font-size: 1.3rem;
        display: block;
        text-align: center;
        width: 235px;
        margin: 0 auto;
        text-transform: capitalize;
    }
}