<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
    <p>{{'resetPassword' | translate}}</p>
    <span>{{'PleaseenteryourEmail' | translate}}</span>
    <form class="sign" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <div formGroupName="matching_passwords">
            <!-- password -->
            <ion-item lines="none">
                <ion-input type="password" formControlName="password" placeholder="{{'password' | translate}}"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of global.validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation['message_' + global.lang] }}
                    </div>
                </ng-container>
            </div>
            <!-- confirmPassword -->
            <ion-item lines="none">
                <ion-input type="password" formControlName="confirm_password" placeholder="{{'confirmPassword' | translate}}"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of global.validation_messages.confirm_password">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation['message_' + global.lang] }}
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- These validations are for the Password form group -->
        <div class="validation-errors">
            <ng-container *ngFor="let validation of global.validation_messages.matching_passwords">
                <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation['message_' + global.lang] }}
                </div>
            </ng-container>
        </div>
        <ion-button expand="block" strong="true" color="tertiary" (click)="confirm()" [disabled]="!validations_form.valid">{{'save' | translate}}</ion-button>
    </form>
</ion-content>