ion-content {
    --padding-top: 40px;
    overflow: auto;
    p {
        text-align: center;
        color: #404040;
        font-weight: 600;
        display: block;
        font-size: 1.9rem;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    span {
        text-align: center;
        color: #404040;
        display: block;
        margin: 0 auto;
        width: 155px;
        font-size: 1.1rem;
    }
    .sign {
        min-height: unset;
        ion-item {
            --padding-end: 6px;
            --inner-padding-end: 6px;
            --padding-start: 6px;
            --inner-padding-start: 6px;
            border-bottom: none;
            ion-input {
                --placeholder-color: #404040;
                --placeholder-opacity: 0.7;
                border-bottom: 1px solid #5a5a5a;
                --padding-start: 16px;
                color: var(--ion-color-dark);
            }
        }
        ion-button {
            margin-top: 35px;
        }
    }
}