<ion-content forceOverscroll="false">
    <p>{{'forgetPassword' | translate}}</p>
    <span>{{'PleaseEnterYourEmailRegisterWithUs' | translate}}</span>
    <form class="sign" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-item lines="none">
            <ion-input type="email" formControlName="email" placeholder="{{'email' | translate}}"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of global.validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation['message_' + global.lang] }}
                </div>
            </ng-container>
        </div>

        <ion-button expand="block" strong="true" color="tertiary" (click)="close(true)" [disabled]="!validations_form.valid">{{'send' | translate}}</ion-button>
    </form>
</ion-content>