

<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'FindaDoctor' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/search">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <!-- <ion-toggle class="home_toggle" [(ngModel)]="toggle_var"></ion-toggle> -->
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-card *ngFor="let speciality of SpecialityList$ | async">
  <img [src]="speciality.ImagePath">
  <ion-card-header>
    <ion-label>{{ speciality.Title }}</ion-label>
    
  </ion-card-header>
 
  <ion-row>
    <ion-col>
      <ion-button expand="full" href="doctorsbyspeciality?specialityId={{speciality.SpecialityID}}">  {{'doctors' | translate}} </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" href="speciality-detail?specialityId={{speciality.SpecialityID}}" >  {{'more' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>